
.blackimage{ 
    background-color:#d4d9f7 ;  
}
.darkblue{
    color:#4b4e60 !important;   
}
.orange{   
    color:#ff6464;
}
.fontchange{
    font-size: 1.5rem !important;
}
.fontchange1{
    font-size: 1.2rem !important;
}

.onchange :hover{
  color:#ff6464 !important;  
}
.paddingFooter{
    padding: 150px 20px 10px 20px;
}

.darkblue .h7{
    opacity: 0.3;

}